$height: 40px;

header {
  background-color: #000;

  .brand {
    display: block;
    float: left;
    line-height: inherit;
    padding: ($grid-gutter-width / 2) 0;

    img {
      height: $height;
      width: $height;
    }
  }

  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0 ($grid-gutter-width / 2);
  }

  li {
    display: none;

    &.menu {
      display: inline-block;
      text-transform: uppercase;

      span {
        vertical-align: middle;
      }
    }
  }

  a {
    color: #fff;
    display: block;
    font-size: $font-size-h4;
    font-weight: 100;
    line-height: $height;
    padding: ($grid-gutter-width / 2) 0;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  .fa {
    font-size: $font-size-h1;
    margin-right: 5px;
    vertical-align: middle;
  }

  .bars {
    display: inline-block;
    margin-left: ($grid-gutter-width / 2);
    vertical-align: middle;
    width: 25px;
  }

  .bar {
    background-color: #fff;
    height: 2px;
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }

  @media (min-width: $screen-sm-min) {
    .brand {
      padding: 8px 0;
    }

    a {
      padding: 6px 0 8px;
    }

    li {
      display: inline-block;
      padding: 0 ($grid-gutter-width / 2);

      &.menu {
        display: none;
      }

      span {
        vertical-align: middle;
      }
    }
  }
}
