$height: 40px;

.title-bar {
  font-family: $font-family-bernina;
  width: 100%;

  &.dark {
    border: none;
    padding: 0;
  }

  .brand {
    display: block;
    margin: 1rem;

    img {
      height: $height;
      width: $height;
    }
  }

  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0 1rem 0 0;
  }

  li {
    display: none;
    padding: 0;

    &.menu {
      display: inline-block;
      text-transform: uppercase;

      span {
        vertical-align: middle;
      }
    }

    a {
      border-bottom: 4px solid transparent;
      border-top: 3px solid transparent;
      padding: 1rem;
      text-shadow: 0 0 0 rgba(255,255,255,0);
      @include transition(all $default-transition-duration $default-transition-function);

      &:hover,
      &:focus {
        border-bottom-color: $link-color;
        text-shadow: 0 0 2px rgba(255,255,255,1);
      }
    }
  }

  a {
    color: #fff;
    display: block;
    font-size: $h4-font-size;
    font-weight: 100;
    line-height: 30px;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  .fa {
    font-size: $h1-font-size;
    margin-right: 5px;
    vertical-align: middle;
  }

  .bars {
    display: inline-block;
    margin-left: 0.5rem;
    vertical-align: middle;
    width: 25px;
  }

  .bar {
    background-color: #fff;
    height: 2px;
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }

  @include breakpoint(medium) {
    li {
      display: inline-block;
      padding: 0;

      &.menu {
        display: none;
      }

      span {
        vertical-align: middle;
      }
    }
  }
}
