@import 'index/articles_list';
@import 'index/diablo';
@import 'index/github';

.index {
  .introduction-pane {
    margin-top: 2rem;
  }

  @include breakpoint(xlarge) {
    .introduction-pane {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  @include breakpoint(xxlarge) {
    .introduction-pane {
      padding-left: 9rem;
      padding-right: 9rem;
    }
  }
}
