@import "compass/utilities/general/clearfix";

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
    cursor: pointer;
    text-decoration: underline;
  }
}

.clearfix {
  @include clearfix();
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.date span:first-child {
  color: $gray-light;
}

.date span:last-child {
  color: $gray;
}

p {
  line-height: 130%;
}
