body {
  overflow-x: hidden;
}

.mobile-menu {
  list-style: none;
  margin: 0;
  right: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  top: 50px;
  width: 200px;
  z-index: 1;
  @include single-transition(all);
  @include transform( translateX(100%) );

  li {
    border-top: 1px solid darken($gray-light, 5%);

    &:first-child {
      border-top: none;
    }
  }

  a {
    background-color: $gray-light;
    color: #fff;
    display: block;
    font-size: $font-size-h4;
    line-height: $grid-gutter-width;
    @include single-transition(background-color);

    &:hover,
    &:focus {
      background-color: darken($gray-light, 5%);

      .fa {
        background-color: $brand-warning;
      }
    }
  }

  .fa {
    @include single-transition(background-color);
    font-size: $font-size-h2;
    line-height: $grid-gutter-width;
    margin-right: 5px;
    padding: 5px 8px;
    width: 34px;
  }
}

.menu-open .mobile-menu {
  opacity: 1;
  @include transform( translateX(0) );
}

@media (min-width: $screen-sm-min) {
  .mobile-menu {
    display: none;
  }
}
