.articles {
  .tag {
    display: block;
    left: -(25px + 14px);
    position: absolute;
    top: 0;
    width: 25px;
  }

  .article-content {
    margin-top: 4rem;
    overflow: visible;
  }

  .article-header {
    margin-bottom: 2rem;

    h1 {
      margin-top: 0;
    }
  }

  h1 {
    margin: 2rem 0 0;
  }

  .article-links {
    margin-bottom: 1rem;

    h5 {
      font-weight: bold;
    }
  }

  pre {
    margin-bottom: 1rem;
  }

  #disqus_thread {
    margin-top: 3rem;
  }
}
