.index .diablo-pane {
  background: lighten($gray-darker, 10%) url('/images/icon_diablo.svg') no-repeat 1.75rem 0.75rem;
  background-size: 50px 50px;
  border-bottom: 1px solid darken($gray-darker, 5%);
  border-top: 1px solid darken($gray-darker, 5%);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem 1rem 0;

  .grid-content {
    position: relative;
  }

  .pane-header {
    border-bottom: 1px solid lighten($gray-darker, 5%);
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0 1rem 1rem;
  }

  h2 {
    font-family: $font-family-bernina;
    font-size: $h1-font-size;
    line-height: 1;
    margin: 0 0 0 50px;
  }

  a {
    color: lighten($link-color, 30%);
    font-weight: 300;
  }

  p {
    color: $gray-lighter;
    font-size: $h6-font-size;
    margin: 0 0 0 50px;
  }

  .paragon {
    color: $gray-lighter;
    font-family: $font-family-bernina;
    right: 1rem;
    position: absolute;
    top: 0;

    .level {
      font-size: 52px;
      font-weight: 100;
      line-height: 41px;
      padding-right: 10px;
    }

    span {
      display: block;
      font-size: $h6-font-size;
      right: 0;
      position: absolute;
      transform-origin: 90% 45%;
      top: 0;
      @include transform(rotate(-90deg));
    }
  }

  .heroes {
    border-top: 1px solid lighten($gray-darker, 15%);
    margin-left: -1rem;
    margin-right: -1rem;

    .heroes-wrapper {
      overflow: hidden;
      padding: 2rem 0 2rem 1rem;
      position: relative;
      white-space: nowrap;
      width: 100%;
    }

    .hero {
      background: url(http://us.battle.net/d3/static/images/profile/hero/hero-nav-portraits.jpg) no-repeat;
      border-radius: 4px;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
      display: inline-block;
      opacity: 0.7;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-top: 65px;
      position: relative;
      width: 83px;
      @include transition(box-shadow $transition-duration-fast $default-transition-function,
                          opacity $transition-duration-fast $default-transition-function );

      &:hover {
        box-shadow: 0 0 5px rgba(0,0,0,0.75);
        opacity: 1;
        text-decoration: none;

        .weapon {
          top: -1.7rem;
          @include transform(rotate(-15deg));
        }
      }
    }

    .name {
      background-color: #000;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      color: #fff;
      display: block;
      font-size: $h6-font-size;
      padding: 5px 3px;
      text-align: center;
    }

    .barbarian-male {
      background-position: 0 0;
    }
    .barbarian-female {
      background-position: -83px 0;
    }
    .wizard-male {
      background-position: -83px -264px;
    }
    .wizard-female {
      background-position: -83px -264px;
    }
    .demon-hunter-male {
      background-position: 0 -66px;
    }
    .demon-hunter-female {
      background-position: -83px -66px;
    }
    .crusader-male {
      background-position: 0 -330px;
    }
    .crusader-female {
      background-position: -83px -330px;
    }
    .witch-doctor-male {
      background-position: 0 -198px;
    }
    .witch-doctor-female {
      background-position: -83px -198px;
    }
    .monk-male {
      background-position: 0 -132px;
    }
    .monk-female {
      background-position: -83px -132px;
    }
  }

  .seasonal,
  .hardcore {
    font-size: $h3-font-size;
    right: 5px;
    position: absolute;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  }

  .seasonal {
    color: #40bf40;
    top: 5px;
  }

  .hardcore {
    color: #d12f37;
    top: 45px;
  }

  .weapon {
    left: -2rem;
    position: absolute;
    top: -1.5rem;
    // @include transform(rotate(0deg));
    @include transition(top $transition-duration-fast ease-out,
                        transform $transition-duration-fast ease-out);
  }

  @include breakpoint(large) {
    border-top: none;
  }
}
